
<div class="page-header">
  <h3>{{header}} - {{Form.nome_oficial}}</h3>
</div>
<form name="validation.formOrgao" novalidate="novalidate" class="form">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Formulário</div>
        </div>
        <div ng-if="loading" class="panel-body">
          <ng-include src="'/admin/app/common/loading.html'"></ng-include>
        </div>
        <div ng-if="saving" class="panel-body">
          <ng-include src="'/admin/app/common/saving.html'"></ng-include>
        </div>
        <div ng-if="!loading" class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.nome.$invalid}" class="form-group">
                <label class="control-label">Nome</label>
                <input required="required" name="nome" ng-model="Form.nome" placeholder="Nome do Órgão" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.sigla.$invalid}" class="form-group">
                <label class="control-label">Sigla</label>
                <input required="required" name="sigla" ng-model="Form.sigla" placeholder="Sigla do Órgão" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Site</label>
                <input name="site" ng-model="Form.site" placeholder="Site do Órgão" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.contato.$invalid}" class="form-group">
                <label class="control-label">Contato</label>
                <input name="contato" ng-model="Form.contato" placeholder="Contato do Órgão" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.email_contato.$invalid}" class="form-group">
                <label class="control-label">Email de Contato</label>
                <input type="email" name="email_contato" ng-model="Form.email_contato" placeholder="Email de Contato" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.telefone_contato.$invalid}" class="form-group">
                <label class="control-label">Telefone de Contato</label>
                <input name="telefone_contato" ng-model="Form.telefone_contato" placeholder="Telefone de Contato" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div ng-class="{'has-error':validation.formOrgao.cep.$invalid}" class="form-group">
                <label class="control-label">CEP</label>
                <input name="cep" ng-model="Form.cep" placeholder="CEP" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.endereco.$invalid}" class="form-group">
                <label class="control-label">Endereço</label>
                <input name="endereco" ng-model="Form.endereco" placeholder="Endereço do Órgão" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':validation.formOrgao.logradouro.$invalid}" class="form-group">
                <label class="control-label">Logradouro</label>
                <input name="logradouro" ng-model="Form.logradouro" placeholder="Logradouro" class="form-control"/>
              </div>
            </div>
            <div class="col-md-2">
              <div ng-class="{'has-error':validation.formOrgao.bairro.$invalid}" class="form-group">
                <label class="control-label">Bairro</label>
                <input name="bairro" ng-model="Form.bairro" placeholder="Bairro" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div bs-affix="bs-affix" data-offset-top="105" class="btn-group-vertical">
        <button tooltip="Salvar" ng-click="save()" ng-disabled="validation.formOrgao.$invalid" class="btn btn-primary"><i class="fa fa-2x fa-save"></i></button>
        <button tooltip="Cancelar" ng-click="cancel()" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
      </div>
    </div>
  </div>
</form>