div(style={height: '80px'})
	ng-include(src="'/admin/app/common/pagination.html'")

.row
	.col-md-10
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Órgãos Executores
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr.active
					th.col-md-2 &nbsp;
					th Nome
					th Sigla
					th Contato
				tr(ng-repeat="item in Orgaos")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{item.Orgao.nome}}
					td {{item.Orgao.sigla}}
					td {{item.Orgao.contato}}
			.panel-footer.clearfix
				span.pull-right 
					span(ng-if="pagination.count > 0") {{pagination.count}} registros - 
					span Página {{pagination.page}} de {{pagination.pageCount}}
	.col-md-2
		div(bs-affix, data-offset-top="85")
			a.btn.btn-block.btn-default(ng-click="add()") Novo Órgão Executor
			hr
			.panel.panel-success
				.panel-heading
					h3.panel-title Filtros
				.panel-body
					.form-group
						label.control-label Nome
						input.form-control(ng-model="filters.nome")
				.panel-footer
					button.btn.btn-primary(type="button",ng-click="pesquisa()") OK
					button.btn.btn-warning(ng-if="filters", type="button",ng-click="pesquisaZerar()") Zerar
