
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Formulário</div>
      </div>
      <div class="panel-body">
        <form name="validation.OcorrenciaForm" ng-submit="save()" novalidate="novalidate" class="form">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Início</label>
                <input type="date" name="inicio_inscricoes" ng-model="Form.inicio_inscricoes" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Fim</label>
                <input type="date" name="fim_inscricoes" ng-model="Form.fim_inscricoes" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':validation.OcorrenciaForm.quantidade_vagas.$invalid}" class="form-group">
                <label class="control-label">Vagas</label>
                <input required="required" type="number" min="1" name="quantidade_vagas" ng-model="Form.quantidade_vagas" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':validation.OcorrenciaForm.status_id.$invalid}" class="form-group">
                <label class="control-label">Status</label>
                <select required="required" ng-options="item.Status.id as item.Status.nome for item in Status" name="status_id" ng-model="Form.status_id" class="form-control">
                  <option value="">Selecione o Status</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':validation.OcorrenciaForm.municipio_id.$invalid}" class="form-group">
                <label class="control-label">Município</label>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group">
                      <input ng-change="getMunicipios()" ng-model="searchMunicipios" class="form-control"/><span class="input-group-addon"><i ng-if="loadingMunicipios" class="fa fa-refresh"></i><i ng-if="!loadingMunicipios" class="fa fa-check"></i></span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <select ng-disabled="!Municipios || Municipios.length == 0" required="required" ng-options="item.Municipio.id as item.Municipio.nome for item in Municipios" name="municipio_id" ng-model="Form.municipio_id" class="form-control">
                      <option value="">Pesquise pelo Município ao lado</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':validation.OcorrenciaForm.programa_id.$invalid}" class="form-group">
                <label class="control-label">Programa</label>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group">
                      <input ng-change="getProgramas()" ng-model="searchProgramas" class="form-control"/><span class="input-group-addon"><i ng-if="loadingProgramas" class="fa fa-refresh"></i><i ng-if="!loadingProgramas" class="fa fa-check"></i></span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <select ng-disabled="!Programas || Programas.length == 0" required="required" ng-options="item.Programa.id as item.Programa.nome_oficial for item in Programas" name="programa_id" ng-model="Form.programa_id" class="form-control">
                      <option value="">Pesquise pelo Programa ao lado</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-class="{'has-error':validation.OcorrenciaForm.beneficios_locais.$invalid}" class="form-group">
                <label class="control-label">Benefícios Locais</label>
                <textarea ng-wig="Form.beneficios_locais" required="required" name="beneficios_locais" ng-model="Form.beneficios_locais" placeholder="Benefícios Locais"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-class="{'has-error':validation.OcorrenciaForm.observacao.$invalid}" class="form-group">
                <label class="control-label">Observações</label>
                <textarea ng-wig="Form.observacao" required="required" rows="5" name="observacao" ng-model="Form.observacao" placeholder="Observação"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85">
      <button tooltip="Salvar" ng-click="save()" ng-disabled="validation.OcorrenciaForm.$invalid" class="btn btn-block btn-default"><i class="fa fa-fw fa-save"></i>&nbsp; Salvar</button>
      <button tooltip="Cancelar" ng-click="cancel()" class="btn btn-block btn-default"><i class="fa fa-fw fa-chevron-left"></i>&nbsp; Retornar</button>
    </div>
  </div>
</div>