.row
	.col-md-10
		.panel.panel-primary
			.panel-heading
				.panel-title Formulário
			.panel-body
				form.form(name="validation.OcorrenciaForm",ng-submit="save()", novalidate)
					.row
						.col-md-3
							.form-group
								label.control-label Início
								input.form-control(type="date",name="inicio_inscricoes",ng-model="Form.inicio_inscricoes")
						.col-md-3
							.form-group
								label.control-label Fim
								input.form-control(type="date",name="fim_inscricoes",ng-model="Form.fim_inscricoes")
						.col-md-3
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.quantidade_vagas.$invalid}")
								label.control-label Vagas
								input.form-control(required,type="number",min="1",name="quantidade_vagas",ng-model="Form.quantidade_vagas")
						.col-md-3
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.status_id.$invalid}")
								label.control-label Status
								select.form-control(required, ng-options="item.Status.id as item.Status.nome for item in Status",name="status_id",ng-model="Form.status_id")
									option(value="") Selecione o Status
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.municipio_id.$invalid}")
								label.control-label Município
								.row
									.col-md-4
										.input-group
											input.form-control(ng-change="getMunicipios()",ng-model="searchMunicipios")
											span.input-group-addon
												i.fa.fa-refresh(ng-if="loadingMunicipios")
												i.fa.fa-check(ng-if="!loadingMunicipios")
									.col-md-8
										select.form-control(ng-disabled="!Municipios || Municipios.length == 0", required, ng-options="item.Municipio.id as item.Municipio.nome for item in Municipios",name="municipio_id",ng-model="Form.municipio_id")
											option(value="") Pesquise pelo Município ao lado
						.col-md-6
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.programa_id.$invalid}")
								label.control-label Programa
								.row
									.col-md-4
										.input-group
											input.form-control(ng-change="getProgramas()",ng-model="searchProgramas")
											span.input-group-addon
												i.fa.fa-refresh(ng-if="loadingProgramas")
												i.fa.fa-check(ng-if="!loadingProgramas")
									.col-md-8
										select.form-control(ng-disabled="!Programas || Programas.length == 0", required, ng-options="item.Programa.id as item.Programa.nome_oficial for item in Programas",name="programa_id",ng-model="Form.programa_id")
											option(value="") Pesquise pelo Programa ao lado
					.row
						.col-md-12
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.beneficios_locais.$invalid}")
								label.control-label Benefícios Locais
								textarea(ng-wig="Form.beneficios_locais",required,name="beneficios_locais",ng-model="Form.beneficios_locais",placeholder="Benefícios Locais")
					.row
						.col-md-12
							.form-group(ng-class="{'has-error':validation.OcorrenciaForm.observacao.$invalid}")
								label.control-label Observações
								textarea(ng-wig="Form.observacao",required, rows="5",name="observacao",ng-model="Form.observacao",placeholder="Observação")
	.col-md-2
		div(bs-affix, data-offset-top="85")
			button.btn.btn-block.btn-default(tooltip="Salvar", ng-click="save()", ng-disabled="validation.OcorrenciaForm.$invalid")
				i.fa.fa-fw.fa-save
				|&nbsp; Salvar
			button.btn.btn-block.btn-default(tooltip="Cancelar", ng-click="cancel()")
				i.fa.fa-fw.fa-chevron-left
				|&nbsp; Retornar
