div(style={height: '80px'})
	ng-include(src="'/admin/app/common/pagination.html'")

.row
	.col-md-10
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Ocorrências
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr.active
					th.col-md-1 &nbsp;
					th Programa
					th Municipio
					th.col-md-1 Início
					th.col-md-1 Fim
				tr(ng-repeat="item in Ocorrencias")
					td
						.btn-group(ng-if="permit(item)")
							button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false")
								i.fa.fa-fw.fa-gear 
								span.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="",ng-click="edit(item)") 
										i.fa.fa-fw.fa-edit
										|&nbsp;Editar
								li.divider
								li
									a(href="",ng-click="localizacoes(item)") 
										i.fa.fa-fw.fa-map-marker
										|&nbsp; Localizações
								li
									a(href="",ng-click-"del(item)") 
										i.fa.fa-fw.fa-close.text-danger
										|&nbsp; Excluir
					td {{item.Programa.nome_oficial}}
					td {{item.Municipio.nome}} - {{item.Municipio.Estado.sigla}}
					td {{item.Ocorrencia.inicio_inscricoes | date:'dd/MM/yyyy'}}
					td {{item.Ocorrencia.fim_inscricoes | date:'dd/MM/yyyy'}}
			.panel-footer.clearfix
				span.pull-right 
					span(ng-if="pagination.count > 0") {{pagination.count}} registros - 
					span Página {{pagination.page}} de {{pagination.pageCount}}
	.col-md-2
		div(bs-affix, data-offset-top="85")
			a.btn.btn-block.btn-default(ng-click="add()",tooltip="Nova Ocorrência")
				i.fa.fa-fw.fa-file-o
				|&nbsp; Nova Ocorrência
			hr
			.panel.panel-success
				.panel-heading
					h3.panel-title Filtros
				.panel-body
					.form-group
						label.control-label Programa
						input.form-control(ng-model="filters.programa")
					.form-group
						label.control-label Município
						input.form-control(ng-model="filters.municipio")
					.form-group
						label.control-label Data Inicial
						input.form-control(ng-model="filters.data_inicial")
					.form-group
						label.control-label Data Final
						input.form-control(ng-model="filters.data_final")
				.panel-footer
					button.btn.btn-primary(type="button",ng-click="pesquisa()") OK
					button.btn.btn-warning(ng-if="filters", type="button",ng-click="pesquisaZerar()") Zerar
