
<div style="height:80px">
  <ng-include src="'/admin/app/common/pagination.html'"></ng-include>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Ocorrências</h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr class="active">
          <th class="col-md-1">&nbsp;</th>
          <th>Programa</th>
          <th>Municipio</th>
          <th class="col-md-1">Início</th>
          <th class="col-md-1">Fim</th>
        </tr>
        <tr ng-repeat="item in Ocorrencias">
          <td>
            <div ng-if="permit(item)" class="btn-group">
              <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle"><i class="fa fa-fw fa-gear"> </i><span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li><a href="" ng-click="edit(item)"> <i class="fa fa-fw fa-edit"></i>&nbsp;Editar</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="localizacoes(item)"> <i class="fa fa-fw fa-map-marker"></i>&nbsp; Localizações</a></li>
                <li><a href="" ng-click-"del(item)="ng-click-"del(item)"> <i class="fa fa-fw fa-close text-danger"></i>&nbsp; Excluir</a></li>
              </ul>
            </div>
          </td>
          <td>{{item.Programa.nome_oficial}}</td>
          <td>{{item.Municipio.nome}} - {{item.Municipio.Estado.sigla}}</td>
          <td>{{item.Ocorrencia.inicio_inscricoes | date:'dd/MM/yyyy'}}</td>
          <td>{{item.Ocorrencia.fim_inscricoes | date:'dd/MM/yyyy'}}</td>
        </tr>
      </table>
      <div class="panel-footer clearfix"><span class="pull-right"> <span ng-if="pagination.count &gt; 0">{{pagination.count}} registros - </span><span>Página {{pagination.page}} de {{pagination.pageCount}}</span></span></div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85"><a ng-click="add()" tooltip="Nova Ocorrência" class="btn btn-block btn-default"><i class="fa fa-fw fa-file-o"></i>&nbsp; Nova Ocorrência</a>
      <hr/>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Programa</label>
            <input ng-model="filters.programa" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Município</label>
            <input ng-model="filters.municipio" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Data Inicial</label>
            <input ng-model="filters.data_inicial" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Data Final</label>
            <input ng-model="filters.data_final" class="form-control"/>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" ng-click="pesquisa()" class="btn btn-primary">OK</button>
          <button ng-if="filters" type="button" ng-click="pesquisaZerar()" class="btn btn-warning">Zerar</button>
        </div>
      </div>
    </div>
  </div>
</div>