
<div class="page-header">
  <h3>{{header}}</h3>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Localizações da Ocoreência</div>
      </div>
      <table class="table">
        <tr>
          <th class="col-md-2"></th>
          <td>Local</td>
          <th>Endereço</th>
        </tr>
        <tr ng-repeat="item in Ocorrencia.Localizacao">
          <td>
            <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-pencil"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{item.local}}</td>
          <td>{{item.endereco}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-1">
    <div bs-affix="bs-affix" data-offset-top="105" class="btn-group-vertical">
      <button ng-click="add()" tooltip="Nova Localização" class="btn btn-primary"><i class="fa fa-2x fa-file-o"></i></button>
      <div ng-click="cancel()" tooltip="Voltar às Localizações" class="button btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></div>
    </div>
  </div>
</div>