.page-header
	h3 {{header}}
.row
	.col-md-11
		.panel.panel-primary
			.panel-heading
				.panel-title Localizações da Ocoreência
			table.table
				tr
					th.col-md-2
					td Local
					th Endereço
				tr(ng-repeat="item in Ocorrencia.Localizacao")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{item.local}}
					td {{item.endereco}}
	.col-md-1
		.btn-group-vertical(bs-affix, data-offset-top="105")
			button.btn.btn-primary(ng-click="add()",tooltip="Nova Localização")
				i.fa.fa-2x.fa-file-o
			.button.btn.btn-default(ng-click="cancel()",tooltip="Voltar às Localizações")
				i.fa.fa-2x.fa-chevron-left
