
<div class="page-header">
  <h3>{{header}}</h3>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Localização da Ocorreência</div>
      </div>
      <div ng-if="loading" class="panel-body">
        <ng-include src="'/admin/app/common/loading.html'"></ng-include>
      </div>
      <div ng-if="!loading" class="panel-body">
        <form name="LocalizacaoForm" id="LocalizacaoForm">
          <div class="form-group">
            <label class="control-label">Local</label>
            <input required="required" name="local" ng-model="Form.local" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Endereço</label>
            <input required="required" name="endereco" ng-model="Form.endereco" class="form-control"/>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Latitude</label>
                <input required="required" type="number" name="latitude" ng-model="marker.position[0]" class="form-control"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Longitude</label>
                <input required="required" type="number" name="longitude" ng-model="marker.position[1]" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><map ng-transclude="ng-transclude" center="map.center" zoom="map.zoom" events="map.events" options="map.options" class="short-map">
                <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker></map></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div bs-affix="bs-affix" data-offset-top="105" class="btn-group-vertical">
      <button ng-disabled="LocalizacaoForm.$invalid" type="submit" form="LocalizacaoForm" tooltip="Salvar" ng-click="save()" class="btn btn-primary"><i class="fa fa-2x fa-save"></i></button>
      <button tooltip="Cancelar" ng-click="cancel()" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
    </div>
  </div>
</div>