div(ng-include="'/app/common/pagination.html'")
.row
	.col-md-4
		ul.list-group
			li.list-group-item(ng-click="view(item)",ng-repeat="item in data.query") {{item.Programa.nome_oficial}}
	.col-md-8
		.panel.panel-success(ng-if="data.item")
			.panel-heading
				h3.panel-title Detalhes
			.panel-body.justify
				h3 {{data.item.Programa.nome_divulgacao}}
				span(ng-if="data.item.Programa.descricao")
					.label.label-primary Descrição
					p(ng-bind-html="data.item.Programa.descricao")
				span(ng-if="data.item.Programa.beneficios")
					.label.label-primary Benefícios
					p(ng-bind-html="data.item.Programa.beneficios")
				span(ng-if="data.item.Programa.publico_alvo")
					.label.label-primary Público Alvo
					p(ng-bind-html="data.item.Programa.publico_alvo")
				span(ng-if="data.item.Programa.objetivos")
					.label.label-primary Objetivos
					p(ng-bind-html="data.item.Programa.objetivos")
			.panel-footer.clearfix
				.btn.btn-group.pull-right
						a.btn.btn-default Solicitar
