
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{Programa.Programa.nome_divulgacao}} / {{Programa.Programa.nome_oficial}}</h3><span class="pull-right"><a href="#/programas" class="btn btn-default">Programas</a></span>
  </div>
  <div class="panel-body">{{Programa.Programa}}</div>
</div>