.content-header
	h3 Formulário Temática
.content.body
	.box.box-primary
		.box-header
			span.box-title Temática
		form(role="form", name="formTematica")
			|{{TematicaFormCtrl.formTematica}}
			.box-body
				.row
					.col-md-6
						.form-group
							label.control-label Nome
							input.form-control(required="required", name="nome", ng-model="TematicaFormCtrl.form.nome")
					.col-md-6
						.form-group
							label.control-label Temática Pai
							select.form-control(name="parent_id", ng-model="TematicaFormCtrl.form.parent_id")
			.box-footer
				.btn-group.pull-right
					button.btn.btn-sm.btn-primary Salvar
					button.btn.btn-sm.btn-default Cancelar