
<div class="content-header">
  <h3>Formulário Temática</h3>
</div>
<div class="content body">
  <div class="box box-primary">
    <div class="box-header"><span class="box-title">Temática</span></div>
    <form role="form" name="formTematica">{{TematicaFormCtrl.formTematica}}
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Nome</label>
              <input required="required" name="nome" ng-model="TematicaFormCtrl.form.nome" class="form-control"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Temática Pai</label>
              <select name="parent_id" ng-model="TematicaFormCtrl.form.parent_id" class="form-control"></select>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-primary">Salvar</button>
          <button class="btn btn-sm btn-default">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>