.content-header
	ng-include(src="'/app/common/pagination.html'")
.content.body
	.box.box-primary
		.box-header
			h3.box-title Temáticas
			.box-tools.pull-right
				span.label.label-primary Label
		table.table.table-hover
			tr

				th.col-md-1 &nbsp;
				th.col-md-11(ng-click="TematicaCtrl.changeSorting('nome')",ng-class="{'text-info':TematicaCtrl.sorting=='nome asc'||TematicaCtrl.sorting=='nome desc'}",style="cursor:pointer") Nome
					i.fa.pull-right.fa-sort-numeric-asc(ng-if="TematicaCtrl.sorting=='nome'")
					i.fa.pull-right.fa-sort-numeric-desc(ng-if="TematicaCtrl.sorting=='-nome'")

			tr(ng-repeat="item in TematicaCtrl.data.Tematicas",ng-if="!TematicaCtrl.DataService.flags.loading && !TematicaCtrl.DataService.flags.norecords")
				td
					.btn-group(ng-if="permit(item)")
						button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false")
							i.fa.fa-fw.fa-gear 
							span.caret
						ul.dropdown-menu(role="menu")
							li
								a(href="",ng-href="#/tematicas/{{item.id}}") 
									i.text-primary.fa.fa-edit.fa-fw
									span.text-primary &nbsp;Editar
							li
								a(href="",ng-click="TematicaCtrl.del(item)")
									i.text-danger.fa.fa-trash.fa-fw
									span.text-danger &nbsp;Excluir

				td {{item.nome }}
		.box-body(ng-if="ProgramaCtrl.DataService.flags.loading")
			div(ng-include="'/app/common/loading.html'")
		.box-body(ng-if="ProgramaCtrl.DataService.flags.norecords")
			div(ng-include="'/app/common/norecords.html'")