
<div class="content-header">
  <ng-include src="'/app/common/pagination.html'"></ng-include>
</div>
<div class="content body">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Temáticas</h3>
      <div class="box-tools pull-right"><span class="label label-primary">Label</span></div>
    </div>
    <table class="table table-hover">
      <tr>
        <th class="col-md-1">&nbsp;</th>
        <th ng-click="TematicaCtrl.changeSorting('nome')" ng-class="{'text-info':TematicaCtrl.sorting=='nome asc'||TematicaCtrl.sorting=='nome desc'}" style="cursor:pointer" class="col-md-11">Nome<i ng-if="TematicaCtrl.sorting=='nome'" class="fa pull-right fa-sort-numeric-asc"></i><i ng-if="TematicaCtrl.sorting=='-nome'" class="fa pull-right fa-sort-numeric-desc"></i></th>
      </tr>
      <tr ng-repeat="item in TematicaCtrl.data.Tematicas" ng-if="!TematicaCtrl.DataService.flags.loading &amp;&amp; !TematicaCtrl.DataService.flags.norecords">
        <td>
          <div ng-if="permit(item)" class="btn-group">
            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle"><i class="fa fa-fw fa-gear"> </i><span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="" ng-href="#/tematicas/{{item.id}}"> <i class="text-primary fa fa-edit fa-fw"></i><span class="text-primary">&nbsp;Editar</span></a></li>
              <li><a href="" ng-click="TematicaCtrl.del(item)"><i class="text-danger fa fa-trash fa-fw"></i><span class="text-danger">&nbsp;Excluir</span></a></li>
            </ul>
          </div>
        </td>
        <td>{{item.nome }}</td>
      </tr>
    </table>
    <div ng-if="ProgramaCtrl.DataService.flags.loading" class="box-body">
      <div ng-include="'/app/common/loading.html'"></div>
    </div>
    <div ng-if="ProgramaCtrl.DataService.flags.norecords" class="box-body">
      <div ng-include="'/app/common/norecords.html'"></div>
    </div>
  </div>
</div>