
<form name="EstadoForm" novalidate="novalidate" class="form">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Formulário</div>
        </div>
        <div ng-if="loading" class="panel-body"><span>Carregando...</span></div>
        <div ng-if="!loading" class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':EstadoForm.nome.$invalid}" class="form-group">
                <label class="control-label">Nome</label>
                <input required="required" ng-minlength="3" name="nome" ng-model="Form.nome" placeholder="Nome do Estado" class="form-control"/><span ng-if="EstadoForm.nome.$error.minlength" class="help-block">Mais de 3 caracteres</span>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':EstadoForm.sigla.$invalid}" class="form-group">
                <label class="control-label">Sigla</label>
                <input required="required" ng-minlength="2" ng-maxlength="2" name="sigla" ng-model="Form.sigla" placeholder="Sigla do Estado" class="form-control"/><span ng-if="EstadoForm.sigla.$error.minlength || EstadoForm.sigla.$error.maxlength" class="help-block">Exatamente 2 caracteres</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':EstadoForm.latitude.$invalid}" class="form-group">
                <label class="control-label">Latitude</label>
                <input required="required" name="latitude" ng-model="marker.position[0]" placeholder="Latitude" class="form-control"/><span ng-if="EstadoForm.latitude.$error.required" class="help-block">Campo requerido!</span>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':EstadoForm.sigla.$invalid}" class="form-group">
                <label class="control-label">Longitude</label>
                <input required="required" name="longitude" ng-model="marker.position[1]" placeholder="Longitude" class="form-control"/><span ng-if="EstadoForm.longitude.$error.required" class="help-block">Campo requerido!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><map ng-transclude="ng-transclude" center="map.center" zoom="map.zoom" events="map.events" options="map.options" class="short-map">
                <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker></map></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div bs-affix="bs-affix" data-offset-top="85">
        <button tooltip="Salvar" ng-click="save()" ng-disabled="EstadoForm.$invalid" class="btn btn-block btn-info">Salvar</button>
        <button tooltip="Cancelar" ng-click="cancel()" class="btn btn-block btn-info">Cancelar</button>
      </div>
    </div>
  </div>
</form>