
<div style="height:80px">
  <ng-include src="'/admin/app/common/pagination.html'"></ng-include>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-info">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Estados</h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr class="active">
          <th class="col-md-2">&nbsp;</th>
          <th class="col-md-1">Sigla</th>
          <th class="col-md-8">Nome</th>
          <th class="col-md-1">Municípios</th>
        </tr>
        <tr ng-repeat="item in Estados">
          <td>
            <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-pencil"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{item.Estado.sigla }}</td>
          <td>{{item.Estado.nome}}</td>
          <td>{{item.Municipio.length}}</td>
        </tr>
      </table>
      <div class="panel-footer clearfix"><span class="pull-left">Página {{pagination.page}} de {{pagination.pageCount}}</span><span class="pull-right">{{pagination.count}} registros</span></div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85"><a ng-click="add()" tooltip="Novo Órgão Executor" class="btn btn-block btn-info">Novo Estado</a>
      <hr/>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <input ng-model="filters.nome" class="form-control"/>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" ng-click="pesquisa()" class="btn btn-primary">OK</button>
          <button ng-if="filters" type="button" ng-click="pesquisaZerar()" class="btn btn-warning">Zerar</button>
        </div>
      </div>
    </div>
  </div>
</div>