<!DOCTYPE html>
<html ng-app="estacaoApp" ng-controller="authController as authCtrl">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estação Juventude</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootswatch/paper/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet">
    <link href="/css/consulta.css" rel="stylesheet">
  </head>
  <body>
    <ng-include src="'/app/common/appLoading.html'"></ng-include>
    <div growl></div>
    <header ng-include="'/app/common/governo.html'"></header>
    <header ng-include="'/app/common/menu.html'"></header>
    <ng-include ng-if="!authCtrl.DataService.appAndUserReady()" src="'/app/common/waitingLoad.html'"></ng-include>
    <div ng-if="authCtrl.DataService.appAndUserReady()" class="container-fluid">
      <main ng-view></main>
    </div>
  </body>
  <!-- jQuery-->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Google-->
  <!-- script(src="//maps.googleapis.com/maps/api/js?sensor=false")-->
  <!-- Angular-->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
  <script src="/bower_components/angular-classy/angular-classy.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/lodash/lodash.min.js"></script>
  <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script src="/bower_components/angular-facebook/lib/angular-facebook.js"></script>
  <!-- DreamFactory-->
  <script src="/bower_components/angular-dreamfactory/angular-dreamfactory.js"></script>
  <!-- App-->
  <script src="/app/app.js"></script>
  <!-- DataService-->
  <script src="/app/dataService.js"></script>
  <!-- ModelService-->
  <script src="/app/modelService.js"></script>
  <!-- GMapsService-->
  <script src="/app/gmapsService.js"></script>
  <!-- Routes-->
  <script src="/app/routes.js"></script>
  <!-- Controllers-->
  <script src="/app/authController.js"></script>
  <script src="/app/Home/index.js"></script>
  <script src="/app/Pesquisa/index.js"></script>
  <script src="/app/Programa/index.js"></script>
  <script src="/app/GMaps/controls.js"></script>
</html>