
<div class="row">
  <div class="col-md-12">
    <div ng-if="status=='messages'" class="btn-group pull-right">
      <button ng-click="newMessage('new')" class="btn btn-default">Nova</button>
    </div>
    <div ng-if="status=='newMessage'" class="btn-group pull-right">
      <button ng-click="messages()" class="btn btn-default">Cancelar</button>
    </div>
    <div ng-if="status=='viewMessage'" class="btn-group pull-right">
      <button ng-click="newMessage('responder')" class="btn btn-default">Responder</button>
      <button ng-click="newMessage('encaminhar')" class="btn btn-default">Encaminhar</button>
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle">Marcadores<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="item in PastasUsuario"><a href="" ng-click="marcar(item)">{{item.Pasta.nome}} </a></li>
        </ul>
      </div>
      <button ng-click="delMessage()" class="btn btn-default">Excluir</button>
      <button ng-click="messages()" class="btn btn-default">Voltar</button>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Pastas</h3>
      </div>
      <table class="table">
        <tr ng-repeat="item in PastasSistema">
          <td> <a href="" ng-click="messages(item)">{{item.Pasta.nome}}</a></td>
        </tr>
      </table>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Marcadores</h3>
      </div>
      <div ng-if="PastasUsuario.length == 0" class="panel-body"><span>Nenhum marcador.</span></div>
      <table class="table">
        <tr ng-repeat="item in PastasUsuario">
          <td> <a href="" ng-click="messages(item)">{{item.Pasta.nome}}</a></td>
        </tr>
      </table>
      <div class="panel-footer clearfix">
        <button ng-click="novoMarcador()" class="btn btn-default pull-right">Novo</button>
      </div>
    </div>
  </div>
  <div class="col-md-9 clearfix">
    <ng-include ng-if="status=='messages'" src="'/admin/app/Mensagem/messages.html'"></ng-include>
    <ng-include ng-if="status=='newMessage'" src="'/admin/app/Mensagem/new-message.html'"></ng-include>
    <ng-include ng-if="status=='viewMessage'" src="'/admin/app/Mensagem/message.html'"></ng-include>
  </div>
</div>