.panel.panel-primary
  .panel-heading
    h3.panel-title Mensagens
      span &nbsp;- {{pasta_nome}}
  .panel-body(ng-if="loading")
    span 
      i.fa.fa-spin.fa-refresh 
      |&nbsp;&nbsp;Carregando...
  .panel-body(ng-if="norecords")
    span Não há mensagens!
  table.table(ng-if="!norecords && !loading")
    tr.active
      th.col-md-1 &nbsp;
      th.col-md-2 Data
      th.col-md-2 De
      th Assunto
    tr(ng-repeat="item in Mensagens")
      td
        a(href="",ng-click="delMessage(item)")
          i.fa.fa-trash(tooltip="Excluir")
      td {{item.Mensagem.data|date:'dd/MM hh:mm' }}
      td {{item.Remetente.nome}}
      td 
        a(href="",ng-click="viewMessage(item)") {{item.Mensagem.assunto}}
