
<form name="messageForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Nova Mensagem</h3>
    </div>
    <div class="panel-body clearfix">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Destinatário(s)</label>
            <input ng-change="searchDestinatario()" ng-model="Form.busca_destinatario" class="form-control"/>
          </div>
        </div>
        <div class="col-md-8">
          <div ng-class="{'has-error':messageForm.destinatario_id.$invalid}" class="form-group">
            <label class="control-label">&nbsp;</label>
            <select required="required" ng-options="item.Usuario.id as item.Usuario.nome for item in destinatarios" name="destinatario_id" ng-model="Form.destinatario_id" class="form-control">
              <option value="">Escolha o Destinatário</option>
            </select>
          </div>
        </div>
      </div>
      <div ng-class="{'has-error':messageForm.assunto.$invalid}" class="form-group">
        <label class="control-label">Assunto</label>
        <input required="required" ng-model="Form.assunto" name="assunto" class="form-control"/>
      </div>
      <div style="height:350px" ng-class="{'has-error':messageForm.body.$invalid}" class="form-group">
        <label class="control-label">Mensagem</label>
        <textarea required="required" ng-wig="Form.body" name="body" ng-model="Form.body" class="form-control"></textarea>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <button ng-disabled="messageForm.$invalid" ng-click="saveMenssage()" class="btn btn-primary">Enviar</button>
        <button class="btn btn-default">Cancelar</button>
      </div>
    </div>
  </div>
</form>