form(name="messageForm")
	.panel.panel-primary
		.panel-heading
			h3.panel-title Nova Mensagem
		.panel-body.clearfix
			.row
				.col-md-4
					.form-group
						label.control-label Destinatário(s)
						input.form-control(ng-change="searchDestinatario()",ng-model="Form.busca_destinatario")
				.col-md-8
					.form-group(ng-class="{'has-error':messageForm.destinatario_id.$invalid}")
						label.control-label &nbsp;
						select.form-control(required,ng-options="item.Usuario.id as item.Usuario.nome for item in destinatarios",name="destinatario_id",ng-model="Form.destinatario_id")
							option(value="") Escolha o Destinatário
			.form-group(ng-class="{'has-error':messageForm.assunto.$invalid}")
				label.control-label Assunto
				input.form-control(required, ng-model="Form.assunto",name="assunto")
			.form-group(style={height: '350px'},ng-class="{'has-error':messageForm.body.$invalid}")
				label.control-label Mensagem
				textarea(required,ng-wig="Form.body",name="body",ng-model="Form.body").form-control
		.panel-footer
			.btn-group
				button.btn.btn-primary(ng-disabled="messageForm.$invalid", ng-click="saveMenssage()") Enviar
				button.btn.btn-default Cancelar
