div(style={height: '80px'})

form.form(name="validation.formPrograma")
	.row
		.col-md-10
			.panel.panel-primary
				.panel-heading
					.panel-title Formulário
				.panel-body(ng-if="ProgramaFormCtrl.loading")
					ng-include(src="'/app/common/loading.html'")
				.panel-body(ng-if="ProgramaFormCtrl.saving")
					ng-include(src="'/app/common/saving.html'")
				.panel-body(ng-if="ProgramaFormCtrl.Form")
					tabset(vertical="false" type="pills")
						tab(heading="Básico")
							.row
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.sigla.$invalid}")
										label.control-label(for="sigla") Sigla
										input.form-control(required,ng-minlength="2",name="sigla",id="sigla",ng-model="ProgramaFormCtrl.Form.sigla")
										span.help-block(ng-if="validation.formPrograma.sigla.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.sigla.$error.minlength") Mínimo de 2 caracteres!
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.nome_oficial.$invalid}")
										label.control-label(for="nome_oficial") Nome Oficial
										input.form-control(required,ng-minlength="3",name="nome_oficial",id="nome_oficial",ng-model="ProgramaFormCtrl.Form.nome_oficial")
										span.help-block(ng-if="validation.formPrograma.nome_oficial.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.nome_oficial.$error.minlength") Mínimo de 3 caracteres!
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.nome_divulgacao.$invalid}")
										label.control-label(for="nome_divulgacao") Nome Divulgação
										input.form-control(required,ng-minlength="3",name="nome_divulgacao",id="nome_divulgacao",ng-model="ProgramaFormCtrl.Form.nome_divulgacao")
										span.help-block(ng-if="validation.formPrograma.nome_divulgacao.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.nome_divulgacao.$error.minlength") Mínimo de 3 caracteres!
							.row
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.temporalidade.$invalid}")
										label.control-label(for="data_inicio") Data Início
										input.form-control(type="date",name="data_inicio",id="data_inicio",ng-model="ProgramaFormCtrl.Form.data_inicio")
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.situacao.$invalid}")
										label.control-label(for="situacao") Situação
										select.form-control(required,name="situacao",id="situacao",ng-options="item.Situacao.id as item.Situacao.nome for item in related.Situacoes",ng-model="ProgramaFormCtrl.Form.situacao_id")
											option(value="") Selecione uma Situação 
										span.help-block(ng-if="validation.formPrograma.situacao.$error.required") Campo requerido!
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.status_id.$invalid}")
										label.control-label(for="status_id") Status
										select.form-control(required,name="status_id",id="status_id",ng-options="item.Status.id as item.Status.nome for item in related.Status",ng-model="ProgramaFormCtrl.Form.status_id")
											option(value="") Selecione um Status
										span.help-block(ng-if="validation.formPrograma.status_id.$error.required") Campo requerido!
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.temporalidade_id.$invalid}")
										label.control-label(for="temporalidade_id") Temporalidade
										select.form-control(required,name="temporalidade_id",id="temporalidade_id",ng-options="item.Temporalidade.id as item.Temporalidade.nome for item in related.Temporalidades",ng-model="ProgramaFormCtrl.Form.temporalidade_id")
											option(value="") Selecione a Temporalidade
										span.help-block(ng-if="validation.formPrograma.temporalidade_id.$error.required") Campo requerido!
							.row
								.col-md-6
									.form-group
										label.control-label(for="estado_id") Estado
										select.form-control(name="estado_id",id="estado_id",ng-options="item.Estado.id as item.Estado.nome for item in related.Estados",ng-model="ProgramaFormCtrl.Form.estado_id")
											option(value="") Selecione o Estado
								.col-md-6
									.form-group
										label.control-label(for="municipio_id") Município
										select.form-control(name="municipio_id",id="municipio_id",ng-options="item.Municipio.id as item.Municipio.nome for item in related.Municipios",ng-model="ProgramaFormCtrl.Form.municipio_id")
											option(value="") Selecione o Município
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.idade_minima.$invalid}")
										label.control-label(for="idade_minima") Idade mínima
										input.form-control(type="number",min="0",max="{{Form.idade_maxima}}",name="idade_minima",id="idade_minima",ng-model="ProgramaFormCtrl.Form.idade_minima")
										span.help-block(ng-if="validation.formPrograma.idade_minima.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.idade_minima.$error.max") Valor maior que idade máxima
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.idade_maxima.$invalid}")
										label.control-label(for="idade_maxima") Idade máxima
										input.form-control(type="number",min="{{Form.idade_minima}}",name="idade_maxima",id="idade_maxima",ng-model="ProgramaFormCtrl.Form.idade_maxima")
										span.help-block(ng-if="validation.formPrograma.idade_maxima.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.idade_maxima.$error.min") Valor menor que idade mínima
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.lei_criacao.$invalid}")
										label.control-label(for="lei_criacao") Lei de criação
										input.form-control(type="text",name="lei_criacao",id="lei_criacao",ng-model="ProgramaFormCtrl.Form.lei_criacao")
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.nivel.$invalid}")
										label.control-label(for="nivel") Nível
										input.form-control(type="text",name="nivel",id="nivel",ng-model="ProgramaFormCtrl.Form.nivel")
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.parceiros.$invalid}")
										label.control-label(for="parceiros") Parceiros
										input.form-control(type="text",name="parceiros",id="parceiros",ng-model="ProgramaFormCtrl.Form.parceiros")
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.publico_alvo.$invalid}")
										label.control-label(for="publico_alvo") Público Alvo
										input.form-control(required, type="text",name="publico_alvo",id="publico_alvo",ng-model="ProgramaFormCtrl.Form.publico_alvo")
										span.help-block(ng-if="validation.formPrograma.publico_alvo.$error.required") Campo requerido!
						tab(heading="Textos")
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.beneficios.$invalid}")
										label.control-label(for="beneficios") Benefícios
										textarea(ng-wig="Form.beneficios",ng-model="ProgramaFormCtrl.Form.beneficios",rows="4",required,name="beneficios",id="beneficios")
										span.help-block(ng-if="validation.formPrograma.beneficios.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.criterios_acesso.$invalid}")
										label.control-label(for="criterios_acesso") Critérios de Acesso
										textarea(ng-wig="Form.criterios_acesso",ng-model="ProgramaFormCtrl.Form.criterios_acesso",rows="4",required,name="criterios_acesso",id="criterios_acesso")
										span.help-block(ng-if="validation.formPrograma.criterios_acesso.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.descricao.$invalid}")
										label.control-label(for="descricao") Descrição
										textarea(ng-wig="Form.descricao",ng-model="ProgramaFormCtrl.Form.descricao",rows="4",required,name="descricao",id="descricao")
										span.help-block(ng-if="validation.formPrograma.descricao.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.duracao.$invalid}")
										label.control-label(for="duracao") Duração
										textarea(ng-wig="Form.duracao",ng-model="ProgramaFormCtrl.Form.duracao",rows="4",required,name="duracao",id="duracao")
										span.help-block(ng-if="validation.formPrograma.duracao.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.objetivos.$invalid}")
										label.control-label(for="objetivos") Objetivos
										textarea(ng-wig="Form.objetivos",ng-model="ProgramaFormCtrl.Form.objetivos",rows="4",required,name="objetivos",id="objetivos")
										span.help-block(ng-if="validation.formPrograma.objetivos.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.observacao.$invalid}")
										label.control-label(for="observacao") Observação
										textarea(ng-wig="Form.observacao",name="observacao",id="observacao",ng-model="ProgramaFormCtrl.Form.observacao")
		.col-md-2
			div(bs-affix, data-offset-top="85")
				button.btn.btn-block.btn-primary(tooltip="Salvar", ng-click="save()", ng-disabled="validation.formPrograma.$invalid") Salvar
				button.btn.btn-block.btn-primary(tooltip="Cancelar", ng-click="cancel()") Cancelar
