.content-header
	ng-include(ng-if="ProgramaCtrl.programaView",src="'/app/Programa/view.html'")
.content.body
	.box.box-primary
		.box-header
			h3.box-title Programas
		table.table.table-hover
			tr

				th.col-md-1 &nbsp;
				th.col-md-1(ng-click="changeSorting('data_inicio')",ng-class="{'text-info':sorting=='data_inicio'||sorting=='-data_inicio'}",style="cursor:pointer") Data
					i.fa.pull-right.fa-sort-numeric-asc(ng-if="sorting=='data_inicio'")
					i.fa.pull-right.fa-sort-numeric-desc(ng-if="sorting=='-data_inicio'")
				th.col-md-5(ng-click="changeSorting('nome_divulgacao')",ng-class="{'text-info':sorting=='nome_divulgacao'||sorting=='-nome_divulgacao'}",style="cursor:pointer") Nome
					i.fa.pull-right.fa-sort-alpha-asc(ng-if="sorting=='nome_divulgacao'")
					i.fa.pull-right.fa-sort-alpha-desc(ng-if="sorting=='-nome_divulgacao'")
				th(ng-click="changeSorting('status')",ng-class="{'text-info':sorting=='status'||sorting=='-status'}",style="cursor:pointer") Status
					i.fa.pull-right.fa-sort-alpha-asc(ng-if="sorting=='status'")
					i.fa.pull-right.fa-sort-alpha-desc(ng-if="sorting=='-status'")
				th(ng-click="changeSorting('situacao')",ng-class="{'text-info':sorting=='situacao'||sorting=='-situacao'}",style="cursor:pointer") Situação
					i.fa.pull-right.fa-sort-alpha-asc(ng-if="sorting=='situacao'")
					i.fa.pull-right.fa-sort-alpha-desc(ng-if="sorting=='-situacao'")

			tr(ng-repeat="item in ProgramaCtrl.data.Programas",ng-if="!ProgramaCtrl.DataService.flags.loading && !ProgramaCtrl.DataService.flags.norecords")
				td
					.btn-group(ng-if="permit(item)")
						button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false")
							i.fa.fa-fw.fa-gear 
							span.caret
						ul.dropdown-menu(role="menu")
							li
								a(href="",ng-click="edit(item)") 
									i.fa.fa-edit.fa-fw
									|&nbsp;Editar
							li.divider
							li
								a(href="",ng-click="tematicas(item)") 
									i.fa.fa-list.fa-fw
									|&nbsp;Temáticas
							li
								a(href="",ng-click="orgaos(item)") 
									i.fa.fa-university.fa-fw
									|&nbsp;Órgãos
							li
								a(href="",ng-click="aprovacoes(item)") 
									i.fa.fa-check.fa-fw
									|&nbsp;Aprovações

				td {{item.data_inicio | date:'dd/MM/yyyy'}}
				td 
					a(href="",ng-click="viewPrograma(item)") {{item.nome_divulgacao}}
				td {{item.status}}
				td {{item.situacao}}
		.box-body(ng-if="ProgramaCtrl.DataService.flags.loading")
			div(ng-include="'/app/common/loading.html'")
		.box-body(ng-if="ProgramaCtrl.DataService.flags.norecords")
			div(ng-include="'/app/common/norecords.html'")

	div(bs-affix, data-offset-top="85")
		a.btn.btn-block.btn-primary(ng-click="add()",tooltip="Novo Programa") Novo Programa
		hr
		.panel.panel-default
			.panel-heading
				h3.panel-title Filtros
			.panel-body
				.form-group
					label.control-label Nome
					input.form-control(ng-model="filters.nome_oficial")
				.form-group
					label.control-label Status
					select.form-control(ng-model="filters.status_id", ng-options="item.id as item.nome for item in ProgramaCtrl.data.Statuses")
						option(value="") Todas
				.form-group
					label.control-label Situação
					select.form-control(ng-model="filters.situacao_id", ng-options="item.id as item.nome for item in ProgramaCtrl.data.Situacoes")
						option(value="") Todas
				.form-group
					label.control-label Temporalidade
					select.form-control(ng-model="filters.temporalidade_id", ng-options="item.id as item.nome for item in ProgramaCtrl.data.Temporalidades")
						option(value="") Todas
			.panel-footer
				button.btn.btn-info(type="button",ng-click="pesquisa()") OK
				button.btn.btn-info(ng-if="filters", type="button",ng-click="pesquisaZerar()") Zerar
