.panel.panel-info
	.panel-heading
		h3.panel-title Detalhes do Programa
	.panel-body
		h3 {{programaView.Programa.nome_divulgacao}}
		h4 {{programaView.Programa.nome_oficial}}
		.well(ng-if="programaView.Programa.beneficios")
			h3 Benefícios
			span(ng-bind-html="programaView.Programa.beneficios")
		.well(ng-if="programaView.Programa.criterios_acesso")
			h3 Critério de Acesso
			span(ng-bind-html="programaView.Programa.criterios_acesso")
		.well(ng-if="programaView.Programa.descricao")
			h3 Descrição
			span(ng-bind-html="programaView.Programa.descricao")
		.row
			.col-md-3
				.well
					h3 Data Início
					span(ng-bind-html="programaView.Programa.data_inicio|date:'dd/M/yy'")
			.col-md-3
				.well
					h3 Duração
					span(ng-bind-html="programaView.Programa.duracao")
			.col-md-3
				.well
					h3 Idade Mínima
					span(ng-bind-html="programaView.Programa.idade_minima||'Nenhuma'")
			.col-md-3
				.well
					h3 Idade Máxima
					span(ng-bind-html="programaView.Programa.idade_maxima||'Nenhuma'")

	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-info(ng-click="viewCancel()") Fechar