
<form name="MunicipioForm" ng-if="Form" class="form"></form>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Formulário</div>
      </div>
      <div ng-if="!loading" class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div ng-class="{'has-error':MunicipioForm.nome.$invalid}" class="form-group">
              <label class="control-label">Nome</label>
              <input required="required" ng-minlength="3" name="nome" ng-model="Form.nome" placeholder="Nome do Estado" class="form-control"/><span ng-if="MunicipioForm.nome.$error.minlength" class="help-block">Mais de 3 caracteres</span>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-class="{'has-error':MunicipioForm.estado_id.$invalid}" class="form-group">
              <label class="control-label">UF</label>
              <select ng-options="item.Estado.id as item.Estado.nome for item in Estados" required="required" name="estado_id" ng-model="Form.estado_id" class="form-control">
                <option value="">Escolha a UF</option>
              </select><span ng-if="MunicipioForm.estado_id.$error.required" class="help-block">Escolha o Estado</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div ng-class="{'has-error':MunicipioForm.latitude.$invalid}" class="form-group">
              <label class="control-label">Latitude</label>
              <input required="required" name="latitude" ng-model="marker.position[0]" placeholder="Latitude" class="form-control"/><span ng-if="MunicipioForm.latitude.$error.required" class="help-block">Campo requerido!</span>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-class="{'has-error':MunicipioForm.longitude.$invalid}" class="form-group">
              <label class="control-label">Longitude</label>
              <input required="required" name="longitude" ng-model="marker.position[1]" placeholder="Longitude" class="form-control"/><span ng-if="MunicipioForm.longitude.$error.required" class="help-block">Campo requerido!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><map ng-transclude="ng-transclude" center="map.center" zoom="map.zoom" events="map.events" options="map.options" class="short-map">
              <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker></map></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <button ng-click="save()" ng-disabled="MunicipioForm.$invalid" class="btn btn-block btn-default">Salvar</button>
      <button ng-click="cancel()" class="btn btn-block btn-default">Cancelar</button>
    </div>
  </div>
</div>