
<div style="margin-top:5px;margin-right:5px;" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Marcadores</h3>
  </div>
  <div class="panel-body">
    <div class="checbox">
      <div>
        <label>
          <input type="checkbox" value="1" ng-model="GMS.layers.usuario"/><img src="img/markers/usuario.png"/>&nbsp;Você
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" ng-model="GMS.layers.estados"/><img src="img/markers/usuario.png"/>&nbsp;Estados
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" ng-model="GMS.layers.municipios"/><img src="img/markers/usuario.png"/>&nbsp;Municípios
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" ng-model="GMS.layers.localizacoes"/><img src="img/markers/usuario.png"/>&nbsp;Localizações
        </label>
      </div>
    </div>
  </div>
</div>