.panel.panel-primary(style="margin-top:5px;margin-right:5px;")
	.panel-heading
		h3.panel-title Busca
	.panel-body
		select.form-control(ng-model="GMS.search.estado_id", ng-options="item.id as item.nome for item in GMS.data.estados")
			option(value="") Todos os Estados
		select.form-control(ng-if="GMS.search.estado_id != null",ng-model="GMS.search.municipio_id", ng-options="item.id as item.nome for item in GMS.data.municipios")
			option(value="") Todos os Municípios
