.panel.panel-primary(style="margin-top:5px;margin-right:5px;")
	.panel-heading
		h3.panel-title Temáticas
	.panel-body
		select.form-control(ng-model="GMS.search.tematica_id",ng-options="item.id as item.nome for item in GMS.data.tematicas")
			option(value="") Escolha para Adicionar