doctype html
html(ng-app="estacaoApp",ng-controller="authController as authCtrl")
	head
		meta(charset="utf8")
		title Estação Juventude

		//link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

		link(href="/bower_components/adminlte/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		
		link(href="/bower_components/adminlte/dist/css/AdminLTE.min.css", rel="stylesheet")
		link(href="/bower_components/adminlte/dist/css/skins/_all-skins.min.css", rel="stylesheet")
		
		link(href="/bower_components/fontawesome/css/font-awesome.min.css", rel="stylesheet")
		link(href="/bower_components/angular-growl-v2/build/angular-growl.min.css", rel="stylesheet")
		link(href="/bower_components/ng-wig/dist/css/ng-wig.css",rel="stylesheet")
		link(href="/bower_components/ngDialog/css/ngDialog.min.css", rel="stylesheet")
		link(href="/bower_components/ngDialog/css/ngDialog-theme-default.min.css", rel="stylesheet")
		link(href="/bower_components/ngDialog/css/ngDialog-theme-plain.min.css", rel="stylesheet")

		link(href="/css/admin.css",rel="stylesheet")
	body.skin-blue.layout-top-nav
		div(growl)
		.wrapper
			header.main-header(ng-include="'/app/common/menu.html'")
			div.content-wrapper(ng-view)
	// jQuery
	script(src="/bower_components/jquery/dist/jquery.min.js")
	// AdminLTE
	script(src="/bower_components/adminlte/dist/js/app.min.js")
	script(src="/bower_components/adminlte/plugins/slimScroll/jquery.slimscroll.min.js")
	// Angular
	script(src="/bower_components/angular/angular.min.js")
	
	script(src="/bower_components/angular-route/angular-route.min.js")
	script(src="/bower_components/angular-resource/angular-resource.min.js")
	script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
	script(src="/bower_components/angular-cookies/angular-cookies.min.js")
	
	script(src="/bower_components/adminlte/bootstrap/js/bootstrap.min.js")
	script(src="/bower_components/ng-wig/dist/ng-wig.min.js")
	script(src="/bower_components/angular-growl-v2/build/angular-growl.min.js")
	script(src="/bower_components/angular-classy/angular-classy.min.js")
	script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
	script(src="/bower_components/angular-facebook/lib/angular-facebook.js")
	// DreamFactory
	script(src="/bower_components/angular-dreamfactory/angular-dreamfactory.js")
	script(src="/bower_components/ngDialog/js/ngDialog.min.js")


	// App
	script(src="/app/app.js")
	
	// DataService
	script(src="/app/dataService.js")
	// ModelService
	script(src="/app/modelService.js")
	// Routes
	script(src="/app/routes.js")
	// Controllers
	script(src="/app/authController.js")
	
	// Usuario
	script(src="/app/Usuario/index.js")
	script(src="/app/Usuario/form.js")
	
	// Home
	script(src="/app/Home/index.js")
	
	// Programas
	script(src="/app/Programa/index.js")
	script(src="/app/Programa/form.js")
	
	// Tematicas
	script(src="app/Tematica/model.js")
	script(src="app/Tematica/index.js")
	script(src="app/Tematica/form.js")
