nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#/") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li
					a.brasil.link-barra(href="http://brasil.gov.br", target="_blank") Brasil

			ul.nav.navbar-nav.pull-right
				li
					a(href="http://brasil.gov.br/barra#participe", target="_blank") Participe
				li
					a(href="http://www.servicos.gov.br/?pk_campaign=barrabrasil", target="_blank") Serviços
				li
					a(href="http://www.planalto.gov.br/legislacao", target="_blank") Legislação
				li
					a(href="http://brasil.gov.br/barra#orgaos-atuacao-canais", target="_blank") Canais
				