
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://brasil.gov.br" target="_blank" class="brasil link-barra">Brasil</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="http://brasil.gov.br/barra#participe" target="_blank">Participe</a></li>
        <li><a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" target="_blank">Serviços</a></li>
        <li><a href="http://www.planalto.gov.br/legislacao" target="_blank">Legislação</a></li>
        <li><a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" target="_blank">Canais</a></li>
      </ul>
    </div>
  </div>
</nav>