nav.navbar.navbar-default
	.container-fluid

		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Estação

		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#/')
						| Início 
						span.sr-only (current)
				li
					a(href='#/pesquisas') Pesquisas
				li
					a(href='#/programas') Programas
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') Link
