nav.navbar.navbar-defatul
	.container-fluid
		
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#estacao-navbar")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		
		.collapse.navbar-collapse(id="estacao-navbar")
			ul.nav.navbar-nav
				li(ng-class="{'active':authCtrl.actualPath=='/'}")
					a(href="#/") Início
				li(ng-class="{'active':authCtrl.actualPath=='/pesquisa'}")
					a(href="#/pesquisa") Pesquisas
				li(ng-class="{'active':authCtrl.actualPath=='/programas'}")
					a(href="#/programas") Programas
			ul.nav.navbar-nav.navbar-right
				li
					a
						|{{authCtrl.FBUser.name}}
				li
					a(href="",ng-if="!authCtrl.FBLoggedIn",ng-click="authCtrl.FBLogin()",tooltip-placement="left",tooltip="Login pelo Facebook")
						i.fa.fa-2x.fa-facebook-square
					a(href="",ng-if="AuthCtrl.FBLoggedIn",ng-click="authCtrl.FBLogout()",tooltip="Sair")
						i.fa.fa-2x.fa-facebook-square.text-primary
