.row
	.col-md-12.clearfix
		.btn-group(data-toggle="buttons")
			label.btn.btn-default(ng-click="pesquisaCtrl.GMS.geoActions.setVisao('E')", id="btnVisaoEstados")
				input(type="radio", name="options", id="option1", autocomplete="off")
				| Nacional
			label.btn.btn-default(ng-disabled="pesquisaCtrl.GMS.search.estado_id == null", ng-click="pesquisaCtrl.GMS.geoActions.setVisao('M')", id="btnVisaoMunicipios")
				input(type="radio", name="options", id="option2", autocomplete="off")
				| Estadual
			label.btn.btn-default(ng-disabled="pesquisaCtrl.GMS.search.municipio_id == null", ng-click="pesquisaCtrl.GMS.geoActions.setVisao('A')", id="btnVisaoAcoes")
				input(type="radio", name="options", id="option3", autocomplete="off")
				| Municipal
			label.btn.btn-default(ng-disabled="pesquisaCtrl.GMS.search.municipio_id == null", ng-click="pesquisaCtrl.GMS.geoActions.setVisao('U')", id="btnVisaoUsuario")
				input(type="radio", name="options", id="option4", autocomplete="off")
				| Você
		.btn-group.pull-right(data-toggle="buttons")
			label.btn.btn-default(ng-click="pesquisaCtrl.toogleTextMode()",id="btnTextMode")
				input(type="checkbox", id="textMode", autocomplete="off")
				| Modo Textual
hr
.row
	ui-gmap-google-map(pan="true", options="pesquisaCtrl.GMS.map.options" center="pesquisaCtrl.GMS.map.center",zoom="pesquisaCtrl.GMS.map.zoom")
		
		// Usuário
		ui-gmap-markers(ng-if="pesquisaCtrl.GMS.layers.usuario", models="pesquisaCtrl.GMS.map.markers.usuario", idKey="'idKey'", icon="'icon'", options="'options'", coords="'coords'", click="pesquisaCtrl.clickMarkerUsuario")

		// Estado
		ui-gmap-markers(ng-if="pesquisaCtrl.GMS.layers.estados", models="pesquisaCtrl.GMS.map.markers.estados", idKey="'idKey'", options="'options'", coords="'coords'",icon="'icon'",click="pesquisaCtrl.clickMarkerEstado")

		// Municipios
		ui-gmap-markers(ng-if="pesquisaCtrl.GMS.layers.municipios", models="pesquisaCtrl.GMS.map.markers.municipios", idKey="'idKey'", coords="'coords'",icon="'icon'")

		// Acoes
		ui-gmap-markers(ng-if="pesquisaCtrl.GMS.layers.localizacoes", models="pesquisaCtrl.GMS.map.markers.ocorrencias", idKey="'idKey'", coords="'coords'", icon="'icon'", click="pesquisaCtrl.clickMarkerLocalizacao")

		ui-gmap-map-control(dorebuildall="true", index="1", template="/app/GMaps/markers.html",controller="markersCtrl",position="top_left")
		ui-gmap-map-control(dorebuildall="true", index="2", template="/app/GMaps/tematicas.html",controller="tematicasCtrl",position="top_right")
		ui-gmap-map-control(dorebuildall="true", index="3", template="/app/GMaps/search.html",controller="searchCtrl",position="top_right")
		//ui-gmap-map-control(controller="loadingCtrl", dorebuildall="true", index="4", template="/app/GMaps/loading.html", position="bottom_center")


.row(ng-if="Ocorrencias")
	.col-md-6
		.panel.panel-primary
			.panel-heading
				h3.panel-title Ocorrências Municipais
			ul.list-group
				li.list-group-item(ng-repeat="item in Ocorrencias")
					a(href="",ng-click="resumo(item)") {{item.Programa.nome_oficial}} - {{item.Municipio.nome}}
	.col-md-6
		.panel.panel-success(ng-if="data.resumo")
			.panel-heading
				h3.panel-title Resumo do Programa
			.panel-body
				.form-group
					label.control-label Objetivos
					p.form-control-static(ng-bind-html="data.resumo.objetivos")
				.form-group
					label.control-label Público Alvo
					p.form-control-static(ng-bind-html="data.resumo.publico_alvo")
				.form-group
					label.control-label Benefícios Locais
					p.form-control-static(ng-bind-html="data.resumo.beneficios_locais")
				.form-group
					label.control-label Como Acessar
					p.form-control-static(ng-bind-html="data.resumo.como_acessar")
