div(style={height: '80px'})

form.form(name="UsuarioForm",ng-submit="save()",novalidate)
	.row
		.col-md-10
			.panel.panel-primary
				.panel-heading
					h3.panel-title Formulário
				.panel-body
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.nome.$invalid && UsuarioForm.nome.$dirty}")
								label.control-label Nome
								input.form-control(ng-minlength="5", required="true", name="nome",ng-model="Form.nome",placeholder="Nome da Usuário")
								span(class="help-block",ng-if="UsuarioForm.nome.$error.minlength") Mais de 5 caracteres
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.grupo_id.$invalid}")
								label.control-label Grupo
								select.form-control(required="true", name="grupo_id",ng-model="Form.grupo_id",ng-options="item.Grupo.id as item.Grupo.nome for item in Grupos")
									option(value="") Selecione um Grupo
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.email.$invalid}")
								label.control-label Email
								input.form-control(type="email", name="email",ng-model="Form.email",placeholder="Email do Usuário")
								span(class="help-block",ng-if="UsuarioForm.email.$error.email") Email inválido
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.login.$invalid && UsuarioForm.login.$dirty}")
								label.control-label Login
								input.form-control(ng-minlength="5", required="true", name="login",ng-model="Form.login",placeholder="Login do Usuário")
								span(class="help-block",ng-if="UsuarioForm.login.$error.minlength") Mais de 5 caracteres
					.row
						.col-md-6
							.form-group
								label.control-label Estado
								select.form-control(name="estado_id",ng-model="Form.estado_id",ng-options="item.Estado.id as item.Estado.nome for item in Estados")
									option(value="") Nenhum Estado
						.col-md-6
							.form-group
								label.control-label Municipio
								select.form-control(name="municipio_id",ng-model="Form.municipio_id",ng-options="item.Municipio.id as item.Municipio.nome for item in Municipios")
									option(value="") Nenhum Município
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.senha1.$invalid}")
								label.control-label Senha
								input.form-control(required,type="password",name="senha1",ng-model="Form.senha1")
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.senha2.$invalid}")
								label.control-label Confirme a Senha
								input.form-control(required,,type="password",name="senha2",ng-model="Form.senha2")
		.col-md-2
			button.btn.btn-block.btn-default(ng-disabled="UsuarioForm.$invalid",type="submit") Salvar
			button.btn.btn-block.btn-default(ng-click="cancel()",type="button") Cancelar
