
<div style="height:80px">
  <ng-include src="'/app/common/pagination.html'"></ng-include>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Usuários</h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table table-bordered table-hover">
        <tr class="active">
          <th class="col-md-2">&nbsp;</th>
          <th>Email</th>
          <th>Nome</th>
          <th>Grupo</th>
          <th>Admin</th>
        </tr>
        <tr ng-repeat="item in UsuarioCtrl.Usuarios">
          <td>
            <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-edit"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{item.email}}</td>
          <td>{{item.first_name}} {{item.last_name}}</td>
          <td>{{item.role[0].name}}</td>
          <td>{{(item.is_sys_admin)?'Sim':'Não'}}</td>
        </tr>
      </table>
      <div class="panel-footer clearfix">
        <div class="pull-left">Página {{pagination.page}} de {{pagination.pageCount}}</div>
        <div class="pull-right">{{UsuarioCtrl.meta.count}} Usuários</div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85">
      <button ng-click="add()" class="btn btn-block btn-default">Novo Usuário</button>
      <hr/>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <select ng-model="nome" class="form-control"></select>
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <select ng-model="email" class="form-control"></select>
          </div>
          <div class="form-group">
            <label class="control-label">Grupo</label>
            <select ng-model="grupo_id" class="form-control"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>