div(style={height: '80px'})
	ng-include(src="'/app/common/pagination.html'")
.row
	.col-md-10
		.panel.panel-primary
			.panel-heading
				h3.panel-title Usuários
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table.table-bordered.table-hover(ng-if="!loading && !norecords")
				tr.active
					th.col-md-2 &nbsp;
					th Email
					th Nome
					th Grupo
					th Admin
				tr(ng-repeat="item in UsuarioCtrl.Usuarios")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-edit
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{item.email}}
					td {{item.first_name}} {{item.last_name}}
					td {{item.role[0].name}}
					td {{(item.is_sys_admin)?'Sim':'Não'}}
			.panel-footer.clearfix
				div.pull-left Página {{pagination.page}} de {{pagination.pageCount}}
				div.pull-right {{UsuarioCtrl.meta.count}} Usuários
	.col-md-2
		div(bs-affix, data-offset-top="85")
			button.btn.btn-block.btn-default(ng-click="add()") Novo Usuário
			hr
			.panel.panel-success
				.panel-heading
					h3.panel-title Filtros
				.panel-body
					.form-group
						label.control-label Nome
						select.form-control(ng-model="nome")
					.form-group
						label.control-label Email
						select.form-control(ng-model="email")
					.form-group
						label.control-label Grupo
						select.form-control(ng-model="grupo_id")
