.content-header
	|Home
.content.body
	.row
		.col-md-4
			.panel.panel-warning
				.panel-heading
					h3.panel-title Ocorrências Finalizando
				.panel-body
					table.table
						tr
							th Programa
							th Município
							th Fim
						tr(ng-repeat="item in OcorrenciasFim")
							td {{item.Programa.nome_divulgacao}}
							td {{item.Municipio.nome}} / {{item.Municipio.Estado.sigla}}
							td {{item.Ocorrencia.fim_inscricoes|date:'dd/MM/y'}}
		.col-md-4
			.panel.panel-info
				.panel-heading
					h3.panel-title Temáticas mais acessadas
				.panel-body
					table.table
						tr
							th Temática
							th Quantidade
						tr(ng-repeat="item in Contadores")
							td {{item.Tematica.nome}}
							td {{item.Contador.count}}
		.col-md-4
			.panel.panel-success
				.panel-heading
					h3.panel-title Programas mais procurados
				.panel-body
					| Teste
