nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid

		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Estação

		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#/programas')
						| Programas 
						span.sr-only (current)
				li
					a(href='#/orgaos') Órgãos Executores
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#/mensagem') {{home.userInfo}} Mensagens
				li
					a(href='#/admin') Admin
				li
					a(href='#/seguranca') Segurança
				li
					button.navbar-btn.btn.btn-primary(ng-click="authCtrl.showLogin()") Login
				li
					a(href='#') 12:00
