//
	Template que mostra uma animação ao carregar algum dado
.row
	.col-md-4.col-md-offset-4
		| Carregando...
		.progress.progress-striped
			.progress-bar.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
				span.sr-only Carregando...
