
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header"><a href="#/" class="navbar-brand"><b>Estação</b>Juventude</a></div>
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/tematicas">Temáticas </a></li>
          <li class="active"><a href="#/programas">Programas </a></li>
          <li class="active"><a href="#/ocorrencias">Ocorrências </a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="">Action</a></li>
              <li><a href="">Another action</a></li>
              <li><a href="">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form role="search" class="navbar-form navbar-left">
          <div class="form-group">
            <input id="navbar-search-input" type="text" placeholder="Search" class="form-control"/>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Link</a></li>
          <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">Humberto Cruz <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#/profile">Profile</a></li>
              <li><a href="#/favoritos">Favoritos</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="authCtrl.logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>