//
  Paginador bootstrap - mostra as página disponívels numa consulta
pagination(ng-if="ProgramaCtrl.data.meta.count > 1",total-items="ProgramaCtrl.data.meta.count",max-size="10",items-per-page="ProgramaCtrl.ModelParams.limit",ng-model="ProgramaCtrl.ModelParams.page",previous-text="Anterior",next-text="Próximo",boundary-links="true",first-text="Primeira",last-text="Última")
