//
	Template que mostra uma animação ao savar dados no banco de dados

.row
	.col-md-4.col-md-offset-4
		| Salvando...
		.progress
			.progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
				span.sr-only Salvando...
