body * {
	/*transition: all 1s;*/
}

.short-map {
	height: 410px;
}

body {

}
.affix {
	top: 70px;
	width: 165px;
}
.pointer {
	cursor: pointer;
}
tr.filho td:first-child {
	padding-left: 25px !important;
}
.table td {
	vertical-align: middle !important;
}

.glyphicon {
	font-size: 18px !important;
}
.snap-drawers, snap-content {
	margin-top: 70px;
}
